.product {
  &__carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__addProduct {
    margin-left: 20px;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: #46c578;
    color: white;
    font-size: 17px;
  }

  &__cart__goods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 180px;
    background: #22cf5944;
    text-align: center;
    border-radius: 12px;

    h2 {
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      padding-top: 10px;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 8px;
      margin-top: 10px;
    }

    h3 {
      font-size: 35px;
      padding-top: 10px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
    }

    button {
      width: 150px;
      height: 35px;
      border-radius: 8px;
      border: none;
      background: #46c578;
      color: white;
      font-size: 17px;
    }
  }
}